/* /* unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/ 

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
font-family: "Montserrat";
display: block;
}
header{
    display: block;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    font-size: 3rem;
    color: #63458A;
}
.img-m-maravilhosa{
    width: 20%;
    height: auto;
}
ul{
    display: flex;
    /* margin: 2rem;  */
    /* size: 10px;*/
}

li{
   margin: 0;
    list-style: none;
    font-size: 1.5rem;
}
h1{
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
}
h2{
    font-size: 3.6rem;
    margin-bottom: 5rem;
    color: #63458A;
}
.navegacao{
display: flex;
background: rgb(111, 92, 163);
height:15vh;
align-content: center;
justify-content: space-around;
color: #ffffff;
}
.div_a{
display: flex;
font-size: 1.5rem;
align-items:  center;
}
.div_nav{
display: flex;

}
.ul_nav{
margin: 0;
}
.banner{
    background: url("https://arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/EWBJ3SNWT5SWR2W45T5RF4KRC4.jpg") no-repeat 100% center;
    background-size: cover;
    max-width: 100%;
    height: 65vh; 
    align-content: flex-end;
}
.principal{
display: block;
justify-content: center;
text-align: center;
margin: 100%;
}
.sessao_titulo{
display: block;
/* justify-content: center; */
}
.div_titulo{
    display: flex;
}
.img_titulo{
    border: 2px solid #63458A;
    border-radius: 10px;
    background: rgb(111, 92, 163);
}
.img_principal{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.p_texto{
    margin: 4rem;
    background: #E5E5E5;
    align-items: center;
    margin-top: -0.01rem;
    color: #63458A;
}
.paragrafo{
    border: 1px solid #63458A;
    padding: 4rem;
    margin-top: 4rem;
    margin-bottom: 65px;
    font-size: 3rem;
    color: #63458A;

}
.article{

}
.h2_historia{
    justify-content: flex-start;
}
.img_historia{
    width: 100%;
    height: auto;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    border: 1px solid  #63458A;
}
.section_autora{
   display: flex;
    background: #E4B7E5;
    justify-content: center;
}
.img_autora{
    width: 100%;
    height: auto;
}
.ul_autora{
display: block;
margin-top: 6rem;
}
.li_autora, .a_li{
    color: #63458A;
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
}
button{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #C083B9;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 3rem;
    justify-content: center;
}
footer{
    background: #323534;
    display: block;
}
.div_footer{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}
.div_a_footer{
    display: block;
    margin-right: 1rem;
}
.a_footer{


}
.a_facebook{
    justify-content: center;
    align-content: center;
   margin-left: 120rem;
}
.p_footer{
    display: flex;
    background: #292A2A;
    color: #ffffff;
    font-size: 1rem;
    justify-content: center;
}

@media screen and (min-width: 640px){
    /* body{
        background: greenyellow;
        margin: 1em 2em;
    }
    img{
        flex-wrap: wrap;
    } */
    .div_nav, ul{
        flex-wrap: wrap;
    }
} */